.about {
  min-height: 100vh;
  .about-bannertop {
    background-image: url("/img/about/slider-1.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    margin-bottom: 0px;
    z-index: 1;
    min-height: 70vh;
    position: relative;
    padding-top: 110px;
    padding-bottom: 14rem;
    @media (max-width: "768px") {
      padding-bottom: 6rem;
    }
  }
  .about-background-overlay {
    background-color: transparent;
    opacity: 0.97;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: linear-gradient(
      270deg,
      #060632 3%,
      rgba(6, 6, 50, 0.5) 56%
    );
    @media (max-width: "768px") {
      background-image: linear-gradient(
        270deg,
        #060632 5%,
        rgba(6, 6, 50, 0.2) 95%
      );
    }
    &.left {
      background-image: linear-gradient(
        90deg,
        #060632 3%,
        rgba(6, 6, 50, 0.5) 56%
      );
    }
  }
  .about-bannerbottom {
    background-image: url("/img/about/slider-3.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    margin-top: -10rem;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 2;
    min-height: 50vh;
    position: relative;
    padding: 9rem 3rem;
    .content-text {
      margin: 4rem 0;
    }
    @media (max-width: "768px") {
      padding: 1rem;
      .content-text {
        margin: 4rem 0 1rem;
      }
    }
  }
  .content-text {
    padding: 1.5rem;
    opacity: 1;
    z-index: 5;
    position: relative;
    margin: 2rem 0 4rem auto;
  }
  .play-icon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      color: #4054b2d4;
      font-size: 2rem;
      padding: 1rem;
      transition: all 0.3s ease-in-out;
      background: rgba(252, 252, 252, 0.7);
      border-radius: 50%;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .service-container {
    border-top: 5px solid #c6c6c6;
    border-bottom: 5px solid #c6c6c6;
  }
  .history-card {
    background: #262d60;
    text-align: center;
  }
  .community-container {
    background-image: url("/img/about/community-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    .community-background-overlay {
      background-color: #000424;
      opacity: 0.9;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
      top: 0;
      left: 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .count-wrapper {
    border-right: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    @media (min-width: "768px") {
      &:nth-child(3n + 0) {
        border-right: none;
      }
      &:nth-child(n + 4) {
        border-bottom: none;
      }
    }
    @media (max-width: "768px") {
      &:nth-child(2n + 0) {
        border-right: none;
      }
      &:nth-child(n + 5) {
        border-bottom: none;
      }
    }
    // &.bottom {
    //   border-bottom: none;
    // }
  }
}

.team {
  background: #060934;
  .team-banner {
    background-image: url("/img/about/team-banner.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    position: relative;
    min-height: 80vh;
    padding-top: 88px;

    .team-background-overlay {
      background-color: #262d60;
      opacity: 0.58;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
      top: 0;
      left: 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .team-container {
      min-height: 80vh;
      .content-text {
        position: relative;
      }
    }
  }
  .team-tab {
    .tablinks {
      &:hover {
        background-color: #3e4577;
        outline: none;
      }
      &.active {
        background-color: #262d60;
        outline: none;
      }
    }
  }
  .tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
  }
}

.career {
  background: #060934;
  padding-top: 88px;
  .career-banner {
    background-image: url("/img/about/team-banner.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    position: relative;
    min-height: 50vh;
    background-position-y: center;

    .career-background-overlay {
      background-color: #060632;
      opacity: 0.7;
      transition: background 0.3s, border-radius 0.3s, opacity 0.4s;
      top: 0;
      left: 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .career-container {
      min-height: 50vh;
      .content-text {
        position: relative;
      }
    }
  }
  .service-container {
    border-top: 5px solid #c6c6c6;
    border-bottom: 5px solid #c6c6c6;
  }
  .feature-list {
    &-icon {
      height: 40px;
      width: 40px;
      font-size: 20px;
      background-color: #37368e;
      border-radius: 50%;
      display: flex;
      padding: 1rem;
      align-items: center;
      justify-content: center;
    }
  }
  .career-content {
    border-bottom: 5px solid #c6c6c6;
    border-top: 5px solid #c6c6c6;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
