.contact {
  &-title {
    &:after {
      content: "";
      position: absolute;
      border-bottom: 3px solid $primary-color;
      bottom: 0;
      left: 0;
      right: 25%;
    }
  }
  .with-border {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: rgba(255, 255, 255, 0.12);
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
  }
  .ecosystem {
    border-top: 5px solid #c6c6c6;
    border-bottom: 5px solid #c6c6c6;
  }
  .wk-card-body {
    min-height: 20rem;
  }
}
