.media {
  .post {
    img {
      border: 2px solid $primary-color;
    }
  }
  .small-post-wrapper {
    height: 32rem;
    padding-top: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .small-post {
    img {
      border: 2px solid $primary-color;
    }
  }

  .subscribe-wrapper {
    background-color: #eeeeee;
    button {
      background: #262d60;
    }
  }
  .service-container {
    border-top: 5px solid #c6c6c6;
    border-bottom: 5px solid #c6c6c6;
    min-height: auto;
  }
  .styled-separator {
    background-color: #979dd2;
    border: none;
    height: 0.1rem;
  }
  .youtube-card {
    .bottom-card {
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      transform: translateY(0);
    }
  }
  .youtube-card:hover {
    .bottom-card {
      transform: translateY(100%);
      // transition: all 0.3s ease-in-out;
    }
  }
}
