.hfe-nav-menu-icon {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.menu-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background: rgba(0, 0, 0, 0.6);
  .flyout {
    min-width: 250px;
    max-width: 100%;
    right: 0px;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.77);
    padding: 0 1rem;
    overflow-y: scroll;
    color: #fff;
  }
}
.close-btn {
  cursor: pointer;
}
