<div class="mt-8 lg:ml-24 mx-4 lg:mx-0">
    <div class="swiper-container experience-landmark flex items-stretch">
        <div class="swiper-wrapper">
            <div class="swiper-slide img-wrapper h-auto">
                <a href="landmark-work.html" class="relative block img-link">
                    <img src="/img/home/PANO0001.jpg" alt="">
                    <div class="overlay absolute inset-0 flex items-center justify-center py-4">
                        <p class="text-white lg:text-xl font-hairline">WORK</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide img-wrapper h-auto">
                <a href="landmark-eat.html" class=" relative block img-link">
                    <img src="/img/home/eat.jpg" alt="">
                    <div class="overlay absolute inset-0 flex items-center justify-center py-4">
                        <p class="text-white lg:text-xl font-hairline">EAT</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide img-wrapper h-auto">
                <a href="landmark-event.html" class=" relative block img-link">
                    <img src="/img/home/event.jpg" alt="">
                    <div class="overlay absolute inset-0 flex items-center justify-center py-4">
                        <p class="text-white lg:text-xl font-hairline">EVENT</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide img-wrapper h-auto">
                <a href="landmark-stay.html" class=" relative block img-link">
                    <img src="/img/home/stay.jpg" alt="">
                    <div class="overlay absolute inset-0 flex items-center justify-center py-4">
                        <p class="text-white lg:text-xl font-hairline">STAY</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide img-wrapper h-auto">
                <a href="landmark-shop.html" class=" relative block img-link">
                    <img src="/img/home/shop.jpg" alt="">
                    <div class="overlay absolute inset-0 flex items-center justify-center py-4">
                        <p class="text-white lg:text-xl font-hairline">SHOP</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide img-wrapper h-auto">
                <a href="landmark-unwind.html" class=" relative block img-link">
                    <img src="/img/home/unwind.jpg" alt="">
                    <div class="overlay absolute inset-0 flex items-center justify-center py-4">
                        <p class="text-white lg:text-xl font-hairline">UNWIND</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide img-wrapper h-auto">
                <a href="landmark-play.html" class=" relative block img-link">
                    <img src="/img/home/play.jpg" alt="">
                    <div class="overlay absolute inset-0 flex items-center justify-center py-4">
                        <p class="text-white lg:text-xl font-hairline">PLAY</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Add Arrows -->
    <div class="container mx-auto">
        <div class="arrow-wrapper flex justify-end mt-4">
            <div class="button button-prev mr-2 swiper-button-disabled"><i class="fas fa-arrow-left"></i></div>
            <div class="button button-next ml-2"><i class="fas fa-arrow-right"></i></div>
        </div>
    </div>
</div>

<div class="divider"></div>