<!-- footer -->
<footer>
    <div class="container mx-auto pt-8 footer md:flex hidden">
        <div class="w-1/3 text-primary text-2xl">ABOUT US
        </div>
        <div class="w-1/3 text-primary text-center text-2xl">COMPANY LINKS</div>
        <div class="w-1/3 text-primary text-2xl">CONTACT INFO</div>
    </div>
    <div class="container mx-auto flex footer-content flex-col md:flex-row p-4 sm:p-0">
        <div class="md:w-1/3 text-white text-sm leading-7 w-full">
            <div class="text-primary text-xl block md:hidden">ABOUT US</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis,
            pulvinar dapibus leo. <br /> <a class="text-primary">Read more...</a>
        </div>
        <div class="md:w-1/3 text-white w-full">
            <div class="text-primary text-xl block mt-4 md:mt-0 md:hidden">COMPANY LINKS</div>
            <ul class="text-left md:text-center leading-7">
                <li class="menu-item">
                    <a href="https://collinsoforgu.com/completed-development/" class="block transform hover:scale-125">
                        Projects
                    </a>
                </li>
                <li class="menu-item">
                    <a href="https://collinsoforgu.com/about-us/"
                        class="block transform hover:scale-125 hover:text-primary">
                        About Us
                    </a>
                </li>
                <li class="menu-item">
                    <a href="https://collinsoforgu.com/contact/" class="block transform hover:scale-125">
                        Contact
                    </a>
                </li>
                <li class="menu-item">
                    <a href="https://collinsoforgu.com/blog/" class="block transform hover:scale-125">
                        Blog
                    </a>
                </li>
            </ul>
        </div>
        <div class="md:w-1/3 text-sm text-white w-full">
            <ul class="leading-10">
                <li>
                    <span class="mr-4 rounded-full bg-white p-1 inline-flex">
                        <i class="fas fa-phone-alt text-black text-xs"></i>
                    </span>+234 803 0000000
                </li>
                <li>
                    <span class="mr-4 rounded-full bg-white p-1 inline-flex">
                        <i class="far fa-envelope text-black text-xs"></i>
                    </span>contact@landmarklagos.com
                </li>
            </ul>
        </div>
    </div>
    <div class="container mx-auto text-center">
        <ul class="social_media inline-flex text-white">
            <li class="mx-3">
                <a href="#" class="rounded-full bg-white p-1 inline-flex h-8 w-8 justify-center items-center icons">

                    <i aria-hidden="true" class="fab fa-facebook-f text-black"></i>
                </a>
            </li>
            <li class="mx-3">
                <a href="#" class="rounded-full bg-white p-1 inline-flex h-8 w-8 justify-center items-center icons">

                    <i aria-hidden="true" class="fab fa-twitter text-black"></i>
                </a>
            </li>
            <li class="mx-3">
                <a href="#" class="rounded-full bg-white p-1 inline-flex h-8 w-8 justify-center items-center icons">

                    <i aria-hidden="true" class="fab fa-instagram text-black"></i>
                </a>
            </li>
            <li class="mx-3">
                <a href="#" class="rounded-full bg-white p-1 inline-flex h-8 w-8 justify-center items-center icons">

                    <i aria-hidden="true" class="fab fa-linkedin-in text-black"></i>
                </a>
            </li>
            <li class="mx-3">
                <a href="#" class="rounded-full bg-white p-1 inline-flex h-8 w-8 justify-center items-center icons">

                    <i aria-hidden="true" class="fab fa-youtube text-black"></i>
                </a>
            </li>
            <li class="mx-3">
                <a href="#" class="rounded-full bg-white p-1 inline-flex h-8 w-8 justify-center items-center icons">

                    <i aria-hidden="true" class="fab fa-whatsapp text-black"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="hidden w-2/5 py-16 transform rotate-90 rotate-180"></div>
</footer>