<header class="top-0 left-0 right-0 fixed p-5 z-10">
  <div class="container mx-auto flex justify-between items-center">
    <div class="header-left">
      <a href="/">
        <img src="/img/logo/water-01.png" alt="Landmark" class="h-8 lg:h-10">
      </a>
    </div>
    <div class="header-right items-center md:flex hidden">
      <ul class="flex justify-center items-center text-xs uppercase text-white">
        <li class="mr-10"><a>About Waterview</a></li>
        <li class="mr-10"><a>Virtual Tours</a></li>
        <li class="mr-10"><a>Landmark Ecosystem</a></li>
        <li class="mr-10"><a>Investment program</a></li>
        <li>CONTACT US</li>
      </ul>
    </div>
    <div class="hfe-nav-menu-icon">
      <a><i aria-hidden="true" tabindex="0" class="fas fa-align-justify text-white"></i></a>
    </div>

  </div>
</header>