<header class="top-0 left-0 right-0 fixed p-5 z-10 @@if (context.bg) {bg-dark-blue}">
  <div class="container mx-auto flex justify-between items-center">
    <div class="header-left">
      <a href="/">
        <img src="/img/logo/water-01.png" alt="Landmark" class="h-8 lg:h-10">
      </a>
    </div>
    <div class="header-right items-center md:flex hidden">
      <ul class="flex justify-center items-center text-xs uppercase text-white">
        <li class="mr-10"><a href="about.html" class="@@if (context.page === 'about') {active}">About Waterview</a>
        </li>
        <li class="mr-10"><a href="virtual-tours.html" class="@@if (context.page === 'virtual') {active}">Virtual
            Tours</a></li>
        <li class="mr-10"><a href="about.html" class="@@if (context.page === 'landmark') {active}">Landmark
            Ecosystem</a></li>
        <li class="mr-10"><a href="about.html" class="@@if (context.page === 'investment') {active}">Investment
            program</a></li>
        <li class="mr-10"><a href="contact.html" class="@@if (context.page === 'contact') {active}">CONTACT US</a></li>
      </ul>
    </div>
    <div class="hfe-nav-menu-icon md:hidden">
      <a><i aria-hidden="true" tabindex="0" class="fas fa-align-justify text-white"></i></a>
    </div>

  </div>
</header>