<div class="menu-nav hidden">
    <div class="flyout">
        <div class="flyout-top flex justify-end">
            <a class="text-3xl text-white close-btn">×</a>
        </div>
        <div class="flyout-content">
            <ul class="menu px-4 font-light text-white leading-10 text-sm">
                <li class="menu-item"><a class="flex justify-between items-center" href="#">Home</a></li>
                <li class="menu-item">
                    <a class="flex justify-between items-center" href="#">About Us <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu hidden">
                        <ul>
                            <li><a href="#">Company Profile</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Investors Relations</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item"><a class="flex justify-between items-center" href="#">Business</a></li>
                <li class="menu-item"><a class="flex justify-between items-center" href="#">Leisure</a></li>
                <li class="menu-item"><a class="flex justify-between items-center" href="#">Hospitality</a></li>
                <li class="menu-item"><a class="flex justify-between items-center" href="#">Events</a></li>
                <li class="menu-item"><a class="flex justify-between items-center" href="#">Lifestyle</a></li>
                <li class="menu-item">
                    <a class="flex justify-between items-center" href="#">Our Development <i
                            class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-menu hidden">
                        <ul>
                            <li><a href="#">Completed Development</a></li>
                            <li><a href="#">Ongoing Development</a></li>
                            <li><a href="#">Future Development</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item"><a class="flex justify-between items-center" href="#">Career</a></li>
                <li class="menu-item"><a class="flex justify-between items-center" href="#">Media</a></li>
                <li class="menu-item"><a class="flex justify-between items-center" href="#">Contact</a></li>
            </ul>
            <div class=" border-white border-t pt-4 items-center block md:hidden">
                <div class="elementor-icon-box-wrapper flex mb-2">
                    <span class="elementor-icon mr-2 bg-white p-1 rounded-full">
                        <i aria-hidden="true" class="fas fa-phone-alt"></i>
                    </span>
                    <p class="elementor-icon-box-title text-15 text-white">
                        +234 803 000 0000
                    </p>
                </div>
                <div class="flex items-center mb-2">
                    <div class="elementor-icon-box-wrapper flex">
                        <span class="elementor-icon mr-2 bg-white p-1 rounded-full">
                            <i aria-hidden="true" class="far fa-envelope"></i>
                        </span>
                        <p class="elementor-icon-box-title text-15 text-white">
                            contact@landmarklagos.com
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>