<div class="menu-nav hidden">
    <div class="flyout">
        <div class="flyout-top flex justify-end">
            <a class="text-3xl text-white close-btn">×</a>
        </div>
        <div class="flyout-content">
            <ul class="px-4 font-light text-white leading-10 text-sm">
                <li class="mb-4"><a href="about.html">About Waterview</a></li>
                <li class="mb-4"><a href="virtual-tours.html">Virtual Tours</a></li>
                <li class="mb-4"><a href="landmark-ecosystem.html">Landmark Ecosystem</a></li>
                <li class="mb-4"><a>Investment program</a></li>
                <li class="mb-4"><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>

    </div>
</div>